$fontSizesAvailable: (
  12: (
    fontSize: 0.75rem,
    lineHeight: 1.0625rem
  ),
  14: (
    fontSize: 0.875rem,
    lineHeight: 1.125rem
  ),
  15: (
    fontSize: 0.9375rem,
    lineHeight: 1.25rem
  ),
  16: (
    fontSize: 1rem,
    lineHeight: 1.3125rem
  ),
  18: (
    fontSize: 1.125rem,
    lineHeight: 1.375rem
  ),
  20: (
    fontSize: 1.25rem,
    lineHeight: 1.5rem
  ),
  22: (
    fontSize: 1.375rem,
    lineHeight: 1.625rem
  ),
  25: (
    fontSize: 1.5625rem,
    lineHeight: 1.875rem
  ),
  29: (
    fontSize: 1.8125rem,
    lineHeight: 2.125rem
  ),
  32: (
    fontSize: 2rem,
    lineHeight: 2.375rem
  ),
  36: (
    fontSize: 2.25rem,
    lineHeight: 2.7rem
  ),
  41: (
    fontSize: 2.5625rem,
    lineHeight: 3.075rem
  ),
  46: (
    fontSize: 2.875rem,
    lineHeight: 3.45rem
  ),
  52: (
    fontSize: 3.25rem,
    lineHeight: 3.9rem
  ),
  58: (
    fontSize: 3.625rem,
    lineHeight: 4.35rem
  ),
  66: (
    fontSize: 4.125rem,
    lineHeight: 4.95rem
  ),
  74: (
    fontSize: 4.625rem,
    lineHeight: 5.55rem
  ),
  83: (
    fontSize: 5.1875rem,
    lineHeight: 6.225rem
  ),
  94: (
    fontSize: 5.875rem,
    lineHeight: 7.05rem
  )
);
