$fontName: Nunito;
$fontWeightsAvailable: (
  light: (
    weight: 300,
    style: normal,
    path: '../../fonts/nunito/nunito-v9-latin-300',
    local1: 'Nunito Light',
    local2: Nunito-Light
  ),
  lightItalic: (
    weight: 300,
    style: italic,
    path: '../../fonts/nunito/nunito-v9-latin-300italic',
    local1: 'Nunito Light Italic',
    local2: Nunito-LightItalic
  ),
  regular: (
    weight: normal,
    style: normal,
    path: '../../fonts/nunito/nunito-v9-latin-regular',
    local1: 'Nunito Regular',
    local2: Nunito-Regular
  ),
  regularItalic: (
    weight: normal,
    style: italic,
    path: '../../fonts/nunito/nunito-v9-latin-italic',
    local1: 'Nunito Italic',
    local2: Nunito-Italic
  ),
  semiBold: (
    weight: 600,
    style: normal,
    path: '../../fonts/nunito/nunito-v9-latin-600',
    local1: 'Nunito SemiBold',
    local2: Nunito-SemiBold
  ),
  semiBoldItalic: (
    weight: 600,
    style: italic,
    path: '../../fonts/nunito/nunito-v9-latin-600italic',
    local1: 'Nunito SemiBold Italic',
    local2: Nunito-SemiBoldItalic
  ),
  bold: (
    weight: bold,
    style: normal,
    path: '../../fonts/nunito/nunito-v9-latin-700',
    local1: 'Nunito Bold',
    local2: Nunito-Bold
  ),
  boldItalic: (
    weight: bold,
    style: italic,
    path: '../../fonts/nunito/nunito-v9-latin-700italic',
    local1: 'Nunito Bold Italic',
    local2: Nunito-BoldItalic
  ),
  extraBold: (
    weight: 800,
    style: normal,
    path: '../../fonts/nunito/nunito-v9-latin-800',
    local1: 'Nunito ExtraBold',
    local2: Nunito-ExtraBold
  ),
  extraBoldItalic: (
    weight: 800,
    style: italic,
    path: '../../fonts/nunito/nunito-v9-latin-800italic',
    local1: 'Nunito ExtraBold Italic',
    local2: Nunito-ExtraBoldItalic
  )
);
