$colorBlack: #000099;

.dummy {
  color: $colorBlack;
}

.test {
  display: flex;
  flex-direction: row;
  transform: scale(.75);
  color: color(white alpha(90%));
  border-color: gray(25%, 90%);
  background-color: $colorBlack;
  font-size: 2.5rem;
  //font-family: 'Nunito', sans-serif;
  //font-family: 'Arial', sans-serif;
  font-family: 'Nunito', sans-serif;
}
