@import '../../global/fonts/Montserrat';
@import '../../global/fonts/Sanitas-Icon';
@import '../../global/fonts/Stratio-Icon';

@import 'backroom/font-helpers';

#mda-sanitas-tpl,
.mda-sanitas-tpl,
#mda-sanitas-tpl__layer,
.mda-sanitas-tpl__layer {
  font-size: 16px;

  * {
    font-family: Arial, sans-serif;
    @extend %mda-font__default;
    outline: none;
    &.mnt {
      font-family: Montserrat, sans-serif;
    }
  }

  @extend %mda-typography__base;
  @extend %mda-font-sizes__base;

  @extend %mda-font__headers;

  .mda-italic {
    font-style: italic;
  }
  .mda-bold {
    font-weight: bold;
  }
  .mda-italic-bold {
    @extend .mda-italic;
    @extend .mda-bold;
  }

  .bupa-icon {
    @extend %bupa-icon__definition;
  }

  .mda-icon {
    @extend %mda-icon__definition;
  }

  .mda-font__default {
    @extend %mda-font__default;
  }
}
