@import '../../global/fonts/Nunito';
@import '../../global/fonts/Stratio-Icon';

@import 'backroom/typography-helpers';

BODY#mda-stratio-tpl, BODY.mda-stratio-tpl, #mda-stratio-tpl__layer {
  font-size: 16px;

  * {
    font-family: Nunito, sans-serif;
    @extend %mda-font__default;
    outline: none;
  }

  @extend %mda-typography__base;

  .mda-icon {
    @extend %mda-icon__definition;
  }

  .mda-font__default {
    @extend %mda-font__default;
  }
}
