@import '../../global/fonts/Nunito';
@import '../../global/fonts/Stratio-Icon';

@import 'backroom/font-helpers';

BODY#medea-tpl, BODY.medea-tpl, #medea-tpl__layer, .medea-tpl__layer,
BODY#mda-stratio-tpl, BODY.mda-stratio-tpl, #mda-stratio-tpl__layer, .mda-stratio-tpl__layer {
  font-size: 16px;

  * {
    font-family: Nunito, sans-serif;
    @extend %mda-font__default;
    outline: none;
  }

  @extend %mda-typography__base;
  @extend %mda-font-sizes__base;

  @extend %mda-font__headers;

  .mda-italic {
    font-style: italic;
  }
  .mda-bold {
    font-weight: bold;
  }
  .mda-italic-bold {
    @extend .mda-italic;
    @extend .mda-bold;
  }

  .mda-icon {
    @extend %mda-icon__definition;
  }

  .mda-font__default {
    @extend %mda-font__default;
  }
}
